<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/account.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
</head>
<body>
    <div class="header">
        <p id="p_system" class="p35">ЭкоСистема</p>
        <p id="p_main" class="p30">Главная</p>
        <p id="p_events" class="p30">События</p>
        <p id="p_statistics" class="p30">Статистика</p>
        <p id="p_log_in" class="p30">Вход</p>
        <p id="p_register" class="p30">Регистрация</p>
        <p id="p_account" class="p30">Личный кабинет</p>
    </div>

    <div id="panel">
        <div class="userData">
            <p class="p60">Фамилия Имя Отчество</p>
            <p class="p60">01.01.2000</p>
            <p class="p60">8 800 555 35 35</p>
            <p class="p60">Login</p>
            <p class="p60">*********</p>
            <button type="button" class="green_btn">Изменить</button>
            <button type="button" class="green_btn">Добавить сотрудника</button>
        </div>

        <div class="list">
            <h1 class="h_header h_centered">Список обращений</h1>
            <button type="button" class="green_btn">Ответить</button>

            <img src="/static/img/arrow_left_green.png" alt="left">
            <img src="/static/img/arrow_right_green.png" alt="right">
        </div>
    </div>

    <div id="overlay" class="overlay">
        <div id="login" class="login">
            <form method="post" action="/login">
                <h1 class="h_header h_centered">Вход</h1>
                <label>
                    <input id="lgn_login_input" name="login" placeholder="Логин" type="text">
                    <span id="lgn_login_empty_msg" class="msg">Поле не может быть пустым</span>
                </label>
                <br id="br_login_1">
                <br>
                <label>
                    <input id="lgn_password_input" name="password" placeholder="Пароль" type="password">
                    <span id="lgn_password_empty_msg" class="msg">Поле не может быть пустым</span>
                </label>
                <br id="br_login_2">
                <br>
                <button id="login_form_submit" class="green_btn modal_btn" type="submit">Подтвердить</button>
            </form>
        </div>

        <form method="post" action="/register">
            <div id="reg_first" class="registration">
                <h1 class="h_header h_centered">Регистрация</h1>
                <label>
                    <input id="rgs_login_input" name="login" placeholder="Логин" type="text">
                    <span id="rgs_login_empty_msg" class="msg">Поле не может быть пустым</span>
                </label>
                <br id="br_reg_1">
                <br>
                <label>
                    <input id="rgs_password_input" name="password" placeholder="Пароль" type="password">
                    <span id="rgs_password_empty_msg" class="msg">Поле не может быть пустым</span>
                    <span id="rgs_password_incorrect_msg" class="msg">Пароль должен содержать <br> минимум 8 символов и иметь хотя бы <br> одну заглавную букву</span>
                </label>
                <br id="br_reg_2">
                <br>
                <label>
                    <input id="rgs_email_input" name="email" placeholder="Email" type="email">
                    <span id="rgs_email_empty_msg" class="msg">Поле не может быть пустым</span>
                    <span id="rgs_email_incorrect_msg" class="msg">Недопустимый формат email</span>
                </label>
                <br id="br_reg_3">
                <br>
                <label>
                    <input id="rgs_phone_input" name="phoneNumber" placeholder="Телефон" type="text">
                    <span id="rgs_phone_empty_msg" class="msg">Поле не может быть пустым</span>
                    <span id="rgs_phone_incorrect_msg" class="msg">Недопустимый номер телефона</span>
                </label>
                <br id="br_reg_4">
                <br>
                <button id="reg_first_btn" class="green_btn modal_btn" type="button">Продолжить</button>
            </div>

            <div id="reg_second" class="registration">
                <h1 class="h_header h_centered">Регистрация</h1>
                <label>
                    <input id="rgs_name_input" name="name" placeholder="Имя" type="text">
                    <span id="rgs_name_empty_msg" class="msg">Поле не может быть пустым</span>
                </label>
                <br id="br_reg_5">
                <br>
                <label>
                    <input id="rgs_last_name_input" name="lastName" placeholder="Фамилия" type="text">
                    <span id="rgs_last_name_empty_msg" class="msg">Поле не может быть пустым</span>
                </label>
                <br id="br_reg_6">
                <br>
                <label>
                    <input id="rgs_fathers_name_input" name="fathersName" placeholder="Отчество" type="text">
                    <span id="rgs_fathers_name_empty_msg" class="msg">Поле не может быть пустым</span>
                </label>
                <br id="br_reg_7">
                <br>
                <label>
                    <input id="rgs_birth_date_input" name="birthDate" placeholder="Дата рождения" type="date">
                    <span id="rgs_birth_date_empty_msg" class="msg">Поле не может быть пустым</span>
                </label>
                <br id="br_reg_8">
                <br>
                <button id="reg_second_btn" class="green_btn modal_btn" type="submit">Подтвердить</button>
            </div>
        </form>
    </div>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/form.js"></script>
</body>
</html>