<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="https://mapgl.2gis.com/api/js/v1"></script>
</head>
<body>
    <div class="header">
        <p id="p_system" class="p35">ЭкоСистема</p>
        <p id="p_main" class="p30">Главная</p>
        <p id="p_events" class="p30">События</p>
        <p id="p_statistics" class="p30">Статистика</p>
        <p id="p_log_in" class="p30">Вход</p>
        <p id="p_register" class="p30">Регистрация</p>
        <p id="p_account" class="p30">Личный кабинет</p>
    </div>
    <div th:if="${falseTry}" class="alert alert-danger">Неверный логин или пароль</div>
    <div id="panel">
        <div id="map_container"></div>

        <div id="appeal">
            <form id="appeal_form">
                <h1 class="h_header">Отправить обращение</h1>
                <label>
                    <textarea></textarea>
                </label>
                <p id="note">Не более 5 файлов. Общий размер не более 15 Мб. Форматы: png, jpeg</p>
                <button class="green_btn" type="button">Прикрепить файлы</button>
                <button class="green_btn" type="submit">Отправить</button>
            </form>
        </div>
    </div>

    <div id="overlay" class="overlay">
        <div id="login" class="login">
            <form method="post" action="/login">
                <h1 class="h_header h_centered">Вход</h1>
                <span id="false_login_try" class="msg">Неверный логин или пароль</span>
                <label>
                    <input name="login" placeholder="Логин" type="text">
                    <span id="login_empty_field" class="msg">Поле не может быть пустым</span>
                </label>
                <br>
                <br>
                <label>
                    <input name="password" placeholder="Пароль" type="password">
                    <span id="password_empty_field" class="msg">Поле не может быть пустым</span>
                </label>
                <br>
                <br>
                <button class="green_btn modal_btn" type="submit">Подтвердить</button>
            </form>
        </div>

        <form method="post" action="/register">
        <div id="reg_first" class="registration">
                <h1 class="h_header h_centered">Регистрация</h1>
                <label>
                    <input name="login" placeholder="Логин" type="text">
                </label>
                <span id="reg1_empty_field" class="msg">Поля не могут быть пустыми</span>
                <br>
                <br>
                <label>
                    <input name="password" placeholder="Пароль" type="password">
                </label>
                <br>
                <br>
                <label>
                    <input name="email" placeholder="Email" type="text">
                </label>
                <br>
                <br>
                <label>
                    <input name="phoneNumber" placeholder="Телефон" type="tel">
                </label>
                <br>
                <br>
                <button id="reg_first_btn" class="green_btn modal_btn" type="button">Продолжить</button>
        </div>

        <div id="reg_second" class="registration">
                <h1 class="h_header h_centered">Регистрация</h1>
                <span id="reg2_empty_field" class="msg">Поля не могут быть пустыми</span>
                <label>
                    <input name="name" placeholder="Имя" type="text">
                </label>
                <br>
                <br>
                <label>
                    <input name="lastName" placeholder="Фамилия" type="text">
                </label>
                <br>
                <br>
                <label>
                    <input name="fathersName" placeholder="Отчество" type="text">
                </label>
                <br>
                <br>
                <label>
                    <input name="birthDate" placeholder="Дата рождения" type="date">
                </label>
                <br>
                <br>
                <button class="green_btn modal_btn" type="submit">Подтвердить</button>
        </div>
        </form>
    </div>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/map.js"></script>
    <script src="/static/js/form.js"></script>
</body>
</html>