<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/account.css">
</head>
<body>
    <div class="header">
        <p id="p_system" class="p35">ЭкоСистема</p>
        <p id="p_main" class="p30">Главная</p>
        <p id="p_events" class="p30">События</p>
        <p id="p_statistics" class="p30">Статистика</p>
        <p id="p_log_in" class="p30">Вход</p>
        <p id="p_register" class="p30">Регистрация</p>
        <p id="p_account" class="p30">Личный кабинет</p>
    </div>

    <div id="panel">
        <div class="userData">
            <p class="p60">Фамилия Имя Отчество</p>
            <p class="p60">01.01.2000</p>
            <p class="p60">8 800 555 35 35</p>
            <p class="p60">Login</p>
            <p class="p60">*********</p>
            <button type="button" class="green_btn">Изменить</button>
        </div>

        <div class="list">
            <h1 class="h_header h_centered">Список обращений</h1>

            <img src="/static/img/arrow_left_green.png" alt="left">
            <img src="/static/img/arrow_right_green.png" alt="right">
        </div>
    </div>

    <div class="login">
        <form>
            <h1 class="h_header h_centered">Вход</h1>
            <label>
                <input name="login" placeholder="Логин" type="text">
            </label>
            <br>
            <br>
            <label>
                <input name="password" placeholder="Пароль" type="password">
            </label>
            <br>
            <br>
            <button class="green_btn modal_btn" type="submit">Подтвердить</button>
        </form>
    </div>

    <div id="reg_first" class="registration">
        <form>
            <h1 class="h_header h_centered">Регистрация</h1>
            <label>
                <input name="login" placeholder="Логин" type="text">
            </label>
            <br>
            <br>
            <label>
                <input name="password" placeholder="Пароль" type="password">
            </label>
            <br>
            <br>
            <label>
                <input name="email" placeholder="Email" type="text">
            </label>
            <br>
            <br>
            <label>
                <input name="phoneNumber" placeholder="Телефон" type="tel">
            </label>
            <br>
            <br>
            <button class="green_btn modal_btn" type="submit">Продолжить</button>
        </form>
    </div>

    <div id="reg_second" class="registration">
        <form>
            <h1 class="h_header h_centered">Регистрация</h1>
            <label>
                <input name="name" placeholder="Имя" type="text">
            </label>
            <br>
            <br>
            <label>
                <input name="lastName" placeholder="Фамилия" type="text">
            </label>
            <br>
            <br>
            <label>
                <input name="fathersName" placeholder="Отчество" type="text">
            </label>
            <br>
            <br>
            <label>
                <input name="birthDate" placeholder="Дата рождения" type="date">
            </label>
            <br>
            <br>
            <button class="green_btn modal_btn" type="submit">Подтвердить</button>
        </form>
    </div>

</body>
</html>