<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>

    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/account.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
</head>
<body>
    <div class="header">
        <p id="p_system" class="p35">ЭкоСистема</p>
        <p id="p_main" class="p30">Главная</p>
        <p id="p_events" class="p30">События</p>
        <p id="p_statistics" class="p30">Статистика</p>
        <p id="p_log_in" class="p30">Вход</p>
        <p id="p_register" class="p30">Регистрация</p>
        <p id="p_account" class="p30">Личный кабинет</p>
    </div>

    <div id="panel">
        <div class="userData">
            <p class="p60" id="p_full_name">Фамилия Имя Отчество</p>
            <p class="p60" id="p_birth_date">01.01.2000</p>
            <p class="p60" id="p_phone_number">8 800 555 35 35</p>
            <p class="p60" id="p_email">Email</p>
            <p class="p60" id="p_login">Login</p>
            <button type="button" class="green_btn">Изменить</button>
        </div>

        <div class="list">
            <h1 class="h_header h_centered">Список обращений</h1>

            <div class="account_item">
                <p id="p_date_item1" class="p30"></p>
                <p id="p_text_item1" class="p30"></p>
            </div>
            <div class="account_item">
                <p id="p_date_item2" class="p35"></p>
                <p id="p_text_item2" class="p35"></p>
            </div>
            <div class="account_item">
                <p id="p_date_item3" class="p35"></p>
                <p id="p_text_item3" class="p35"></p>
            </div>
            <div class="account_item">
                <p id="p_date_item4" class="p35"></p>
                <p id="p_text_item4" class="p35"></p>
            </div>
            <div class="account_item">
                <p id="p_date_item5" class="p35"></p>
                <p id="p_text_item5" class="p35"></p>
            </div>

            <img id="left_arrow" src="/static/img/arrow_left_green.png" alt="left">
            <img id="right_arrow" src="/static/img/arrow_right_green.png" alt="right">
        </div>
    </div>

    <div id="overlay" class="overlay">

    </div>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/account.js"></script>
    <script src="/static/js/account_appeal.js"></script>
</body>
</html>